The data we are exploring is about the high school statistics from different school districts in Baltimore during the years 2009-2013

First let us load the csv file into our data frame dropoffdf

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#create the dataframe dropoffdf (Education_and_Youth__2010-2013.csv)
dropoffdf=pd.read_csv('Education_and_Youth__2010-2013.csv')

In [3]:
#check if the dataframe is loaded correctly by checking the first few rows
dropoffdf.head(10)

,index,Neighborhood,eattend10,eattend11,eattend12,eattend13,mattend10,mattend11,mattend12,mattend13,...,drop12,drop13,compl10,compl11,compl12,compl13,sclsw11,sclsw12,sclsw13,sclemp13
0,0,Allendale/Irvington/S. Hilton,1118,1037,999,939,747,624,586,593,...,2.7%,2.7%,80.3%,83.9%,78.1%,78.1%,6.8%,9.6%,9.6%,71%
1,1,Beechfield/Ten Hills/West Hills,574,647,605,606,349,351,370,379,...,3%,3%,85.9%,80.3%,82.1%,82.1%,5.1%,5.6%,5.6%,81.1%
2,2,Belair-Edison,1162,1241,1174,1149,831,773,746,714,...,3.8%,3.8%,82.9%,79.9%,77.4%,77.4%,7.2%,7.6%,7.6%,78.5%
3,3,Brooklyn/Curtis Bay/Hawkins Point,1011,1093,997,1050,525,481,479,512,...,4.8%,4.8%,78.5%,75.4%,70.5%,70.5%,6.2%,8%,8%,91.9%
4,4,Canton,90,76,89,84,32,37,38,39,...,0%,0%,75%,66.7%,100%,100%,2.7%,1.9%,1.9%,92.1%
5,5,Cedonia/Frankford,1284,1451,1425,1379,729,844,758,749,...,3.8%,3.8%,82.1%,82.3%,83.9%,83.9%,5.2%,6.5%,6.5%,90.2%
6,6,Cherry Hill,833,818,845,830,412,391,420,452,...,3.2%,3.2%,76.4%,85.3%,84.4%,84.4%,8.9%,9.6%,9.6%,86.2%
7,7,Chinquapin Park/Belvedere,381,391,388,362,228,216,207,203,...,2.6%,2.6%,76.4%,84.1%,82.4%,82.4%,5.6%,7.3%,7.3%,82.3%
8,8,Claremont/Armistead,538,605,575,671,267,259,274,312,...,6.1%,6.1%,80.3%,81.5%,78.4%,78.4%,4.9%,6.4%,6.4%,84.4%
9,9,Clifton-Berea,879,787,754,772,523,439,426,421,...,6%,6%,77.7%,80.8%,81.3%,81.3%,8.9%,9.9%,9.9%,82.5%

In [4]:
#Let us get to know our data
dropoffdf.shape

(56, 113)

In [5]:
dropoffdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Columns: 113 entries, index to sclemp13
dtypes: int64(22), object(91)
memory usage: 49.6+ KB

In [6]:
dropoffdf.describe(include=['int'])

,index,eattend10,eattend11,eattend12,eattend13,mattend10,mattend11,mattend12,mattend13,hsattend10,...,hsattend13,eenrol11,eenrol12,eenrol13,menrol11,menrol12,menrol13,hsenrol11,hsenrol12,hsenrol13
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,...,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
mean,27.500000,1169.107143,1196.125000,1162.607143,1180.500000,670.642857,636.589286,619.250000,624.321429,1023.303571,...,853.571429,1106.125000,1119.910714,1137.607143,589.696429,602.071429,600.607143,853.267857,836.107143,819.607143
std,16.309506,4308.998579,4447.402969,4315.552082,4348.758598,2472.326019,2369.821188,2298.847025,2300.771658,3774.805777,...,3147.671710,4110.870202,4159.451906,4190.863837,2193.488504,2236.101631,2213.520468,3203.484078,3123.400709,3022.436300
min,0.000000,90.000000,76.000000,89.000000,84.000000,32.000000,37.000000,38.000000,39.000000,49.000000,...,29.000000,69.000000,82.000000,79.000000,32.000000,36.000000,35.000000,30.000000,26.000000,28.000000
25%,13.750000,376.250000,351.500000,347.750000,358.750000,187.000000,163.500000,165.750000,177.500000,227.500000,...,202.750000,328.750000,335.250000,343.000000,153.000000,155.000000,169.000000,193.250000,190.750000,194.250000
50%,27.500000,555.500000,593.000000,561.500000,602.500000,323.500000,333.000000,313.500000,324.500000,584.500000,...,491.500000,543.000000,544.500000,577.000000,308.000000,307.000000,309.000000,463.000000,449.500000,471.000000
75%,41.250000,824.000000,794.750000,769.250000,776.250000,469.250000,410.250000,420.250000,421.750000,710.250000,...,553.500000,739.250000,739.000000,748.500000,391.250000,413.000000,408.750000,561.500000,545.750000,535.500000
max,55.000000,32735.000000,33791.000000,32791.000000,33054.000000,18778.000000,17999.000000,17463.000000,17481.000000,28653.000000,...,23902.000000,31234.000000,31604.000000,31853.000000,16659.000000,16986.000000,16817.000000,24311.000000,23706.000000,22950.000000